.header {
  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  nav {
    padding: 1.0625rem 1.5rem;
  }

  &__menu {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      font-size: $font-sm;
      color: $grayishBlue;
      position: relative;
      transition: all 0.3s;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        right: 0;
        left: 0;
        bottom: -30px;
      }

      &:hover {
        color: $darkBlue;
        &::before {
          background: linear-gradient(to right, $limeGreen, $brightCyan);
        }
      }
    }
  }

  &__cta {
    font-size: $font-sm;
  }
}
